#socials {
    background-color: rgba(115, 115, 115,1);
    padding-bottom: 20px;
    height: 450px;
}

.social_item {
    margin-top: 10%;
    display: inline-block;
    margin-left: 80px;
    float: left;
    /*background-color: #1abb9c;*/
    padding: 30px;
}

.social_item a:hover {
    text-decoration: none;
}

.social_item a i {
    color: #FFFFFF;
    /*width: 100px;*/
    font-size: 120px;
}

@media (min-width: 630px) and (max-width: 992px){
    #socials {

        height: 400px;
    }

    .social_item a i {

        font-size: 80px;
    }

}

@media (max-width: 700px){

    #socials {

        height: 350px;
    }

    .social_item {
        margin-left: 20px;
    }

    .social_item a i {

        font-size: 50px;
    }
}

@media (max-width: 420px){
    #socials {

        height: 280px;
    }

    .social_item {
        margin-left: 5px;
    }

    .social_item a i {
        font-size: 30px;
    }
}